.Home {
  width: 100%;
  min-height: 100vh;
  background-color: var(--bg-main);
}

.Home__content {
  display: flex;
  padding: 0 2rem 4rem 2rem;
}
.Home__search {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.Home__content-items {
  flex: 1;
}

.Home__content-details {
  width: 400px;
  margin-top: 2.5rem;
}
