.Pagination_button {
  height: 30px;
  width: 35px;
  outline: none;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.Pagination_button--active {
  color: white;
  background-color: var(--color-secondary);
  font-weight: bold;
}
