.Search {
  display: flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 50%;
  min-width: 300px;
  padding: 0rem 1rem;
  height: 40px;
  border-radius: 50px;
  box-shadow: var(--box-shadow);
}

.Search input {
  flex: 1;
  min-width: 200px;
  border: none;
  outline: none;
  padding: 0.4rem;
}

.Search img {
  width: 18px;
  height: 18px;
  margin-right: 0.5rem;
}
