.Table {
  padding-right: 1rem;
}

.Table table {
  width: 100%;
  border-spacing: 0px;
  border-collapse: separate;
  box-shadow: var(--box-shadow);
}

.Table table tr:first-of-type {
  height: 40px;
  font-size: 0.9rem;
}

.Table__header {
  color: var(--color-white);
  background-color: var(--color-primary);
}
.Table td,
.Table th {
  padding: 0.1rem 0.4rem;
}

.Table td {
  border-bottom: 1px solid var(--border-table);
}

.Table__body td:first-of-type {
  text-align: center;
}

.Table td:nth-child(odd) {
  border-right: 1px solid var(--border-table);
  border-left: 1px solid var(--border-table);
}

.Table__body tr:nth-of-type(even) {
  background: var(--bg-table-tr);
}

.Table__avatar {
  width: 30px;
  border-radius: 50%;
  box-shadow: var(--box-shadow);
}

.Table__pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
}

.Table__button {
  padding: 0.4rem 0.7rem;
  background-color: var(--color-secondary);
  border: none;
  color: var(--color-white);
  border-radius: 4px;
}
.Table__button:hover {
  box-shadow: var(--box-shadow-blue);
}

.Table__title {
  margin-bottom: 1rem;
}

.Table__body tr:hover {
  background: rgba(100, 100, 100, 0.2);
}
