.Home {
  width: 100%;
  min-height: 100vh;
  background-color: #f9f9f9;
}

.Home__content {
  display: flex;
  padding: 0 2rem 4rem 2rem;
}
.Home__search {
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
}

.grid {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(120px, auto);
  gap: 1em;
}

.Home__content-items {
  flex: 1;
}

.Home__content-details {
  width: 400px;
  margin-top: 1.5rem;
}
