@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
}
body {
  min-width: 100%;
  min-height: 100vh;
  font-size: 16px;
}

.inactive {
  display: none;
}

:root {
  --bg-main: #f9f9f9;
  --color-primary: #3f39de;
  --color-secondary: #26c6da;
  --color-white: #ffffff;
  --color-headers: #3f39de;
  --border-table: #e0e0e0;
  --bg-table: #f8f8f8;
  --bg-table-tr: #f1f1f1;
  --box-shadow: 0 0 20px rgba(200, 200, 200, 0.3);
  --box-shadow-blue: 0 6px 20px 0 rgba(38, 198, 218, 0.5);
}
